.redLightAd{
    font-family: 'Poppins', sans-serif;
    font-size: 47.33px;
    color: #EF3054;
    background-color: #000;
    width:100%;
    height:300px;
    display: flex;
    align-content: center;
    padding:20px;
    text-transform: uppercase;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
       color: #EF3054;
        filter: blur(1px);
        text-shadow: #000;
        

    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 5px #FE6D73,
        0 0 10 px #FE6D73,
        0 0 15 px #FE6D73,
        0 0 20 px #FE6D73,
        0 0 25 px #FE6D73;
    }
}

.redLightAdDesc{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #EF3054;
    background-color: #000;
    width:100%;
    height:400px;
    display: flex;
    align-content: center;
    padding:20px;
}

.blipsAndChitzAd{
    color: #2EC4B6;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 20px;
}