/* hazel's styles for website cursor and diya's styles for html tags */ 

/* annoying gif as the background of our website; should appear as tiles on the webpage */ 

@import "form.css"; 

body {

    background-image: url("src/pictures/space travel.webp"); 
    background: cover; 

    /* width: 
    height:  */

}

