/*

#login-box {
    background-color: #ffd9da;
    opacity: 0.85;
}

.createUser {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 50px; 
}

*/